html, body {
    margin: 0;
    height: 100%;
}

iframe {
    margin: auto;
    display: block;
    align-content: center;
    border: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.horizontal {
    width: 100%;
    margin: 0 auto;
}

.fullsize {
    margin: 0;
    height: 100%;
}



/*This is the header and the selection menu for my page */
header {
    padding: 2vh 2vw;
    position: fixed;
    height: .5vh;
    top: 0;
    right: 0;
    max-width: 100%;
    display: flex;
    justify-content:  space-between;
    align-items:center;
    z-index: 100000;
    transition: .6s;
}

header.sticky {
    max-width: 100%;
    height: .5vh;
    background: #fff;
    transition: .6s;
    border-radius: 0 0 0 25px;
}

header ul {
    
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position:relative;
    list-style: none;
    padding: 15px 15px;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #e27d60;
    letter-spacing: 2px;
    font-size: 1vw;
    transition: .6s;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.banner {
    position: relative;
    max-width: 100%;
    max-height: 0;
    height: 100vh;
    background-color: #41B3A3;
    background-size: cover;
}

header.sticky ul li a {
    color: #e27d60;
    font-size: 1vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* This is the header section of my page*/
.pageheader {
    text-align: center;
    background-color: #41B3A3;
    height: 12%;
}

.headertext {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
    color: #E27D60;
    padding: 0%;
}

.headertext2 {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5vw;
    color: #E27D60;
    padding: 0%;
}


/*This is the about me section of my CSS*/
.aboutmediv {
    max-height: 55%;
    background: linear-gradient(to bottom, #41b3a3 0%, #e27d60 100%);
    max-width: 100%;
    text-align: center; 
}

.aboutmeheader {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    color: #E27D60;
    padding: 0%;
}

.aboutmetext {
    max-width: 75%;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5vw;
    color: black;
    padding: 0%;
}

.columnhalf {
    float: left;
    max-width: 35%;
    padding: 5px;
    margin: 0;
    
}

/* This is the coding projects section of my CSS */
.codeHeader {
    color: #41B3A3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 2vw;
    margin: 0;
}

.codeText {
    max-width: 75%;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 1vw;
    color: black;
    padding: 0%;
    text-align: center;
}

.codeDiv {
    margin: 0;
    display: inline-block;
    height: 15%;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #e27d60 0%, #e27d60 100%);
    font-size: 0;
}

/* This is the photo section of my CSS */
.photoheader {
        background-color: #E8A87c;
        text-align: center;
}
    
.photodiv {
        max-height: 100%;
        background: linear-gradient(to bottom, #E8A87c 0%, #85dcb8 100%);
        max-width: 100%;
        margin: 0;  
}

.headertext4 {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    color: #66ffcc;
    padding: 0%;
}

.column {
        float: left;
        max-width: 25vw;
        padding: 5px;
        margin: auto 0;
}
      
.row::after {
    align-content: center;
        content: "";
        clear: both;
        display: block;
}

/* This is the javascript section of my CSS*/
.javascriptdiv {
    height: 100%; 
    background: linear-gradient(to bottom, #66ffcc 0%, #E8A87c 100%);
    text-align: center;
}

.headertext3 {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    color: #E8A87c;
    padding: 0%;
}

.button {
    margin:10px auto;
    background-color: #41B3A3; /* Green */
    border: 5;
    color: #E27D60;
    padding: .5% 1.5%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 1vh 1vh 1vh 1vh;
}

#wrapper {
    min-height: 100%; 
}

/* This is the resume portion of my CSS */

.resumeDiv {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #e27d60 0%, #66ffcc 100%);
}

.resumeHeader {
    color: #41B3A3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 2vw;
}

/* This is the contact me portion of my CSS */

.contactMe {
    margin: 0;
    display: inline-block;
    height: 20%;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #85dcb8 0%, #C38D9B 100%);
    font-size: 0;
}

.contactsHeader {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seri;
    color: #E27D60;
    font-size: 2vw;
}

.contactsText {
    color: black;
    font-size: 1vw;
}
