html, body {
    margin: 0;
    height: 100%;
}

iframe {
    margin: auto;
    display: block;
    align-content: center;
    border: none;
}

button {
    margin:0 auto;
    display:block;
}

.button {
    margin:10px auto;
    background-color: #41B3A3; /* Green */
    border: 5;
    color: #E27D60;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.horizontal {
    width: 100%;
    margin: 0 auto;
}

.yellowgrad {
    height: 100%; 
    background: linear-gradient(to bottom right, #ccffff 0%, #41B3A3 100%);
    text-align: center;
}

.pageheader {
    
    text-align: center;
    background-color: #41B3A3;
    height: 10%;
}

.headertext {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
    color: #E27D60;
    padding: 0%;
}

.headertext2 {
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 125%;
    color: #E27D60;
    padding: 0%;
}

div {
    
}

#wrapper {
    min-height: 100%; 
}
